body {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;

  @media (width > 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'aside content';
  }
}

.aside-menu {
  grid-area: aside;
}

.content {
  grid-area: content;
}
