.header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: var(--color-surface);
  border-bottom: 2px solid var(--color-background);

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'branding menu';
    align-items: center;
    padding-inline: var(--spacing-lg);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);

    @media (width > 1250px) {
      padding-inline: var(--spacing-xs);
    }
  }

  &__logoAndName {
    grid-area: branding;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    text-decoration-line: none;
  }

  &__logo {
    padding: 0.25rem;
    width: 48px;
    height: auto;

    @media (width < 400px) {
      width: 36px;
    }
  }

  &__name {
    grid-area: user;
    color: var(--color-text-accent);

    @media (width < 400px) {
      font-size: 1.25rem;
    }
  }

  &__form {
    grid-area: search;
    justify-self: center;
    width: min(100%, 800px);
    min-width: 0;
  }

  &__input {
    width: 100%;
    min-width: 0;
    padding-block: 0.75rem;
    padding-inline: var(--spacing-md);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    color: var(--color-text);
    font-size: 1rem;

    &:focus {
      border-color: var(--color-brand);
      outline: 2px solid var(--color-brand-border);
    }

    &:hover {
      border-color: var(--color-brand);
    }

    &::placeholder {
      color: var(--color-text-muted);
    }
  }

  &__user {
    display: inline-flex;
    color: var(--color-text);

    @media (width < 350px) {
      display: none;
    }

    &-name {
      color: var(--color-brand);
      font-weight: 500;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (width < 600px) {
        max-width: 5ch;
      }

      @media (width < 450px) {
        max-width: 2ch;
      }
    }
  }
}

.header-app {
  @media (width < 768px) {
    border-bottom: transparent;
  }

  &__inner {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'branding user menu'
      'search search search';
    gap: var(--spacing-lg);
    padding-bottom: var(--spacing-xs);

    @media (width > 768px) {
      grid-template-areas: ' branding search user menu';
      padding-bottom: var(--spacing-md);
    }
  }
}
