body {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.central-column {
  width: 100%;
  max-width: 1228px;
  margin-inline: auto;
}

.aside-menu {
  grid-area: aside;

  @media (width > 768px) {
    padding-block: var(--spacing-xs);
  }
}

.content {
  grid-area: content;
}

:focus-visible {
  outline: 2px solid var(--color-brand);
  outline-offset: 4px;
  border-radius: var(--radius-xs);
}
